footer{
	position: relative;
	padding-top: 180px;
	padding-bottom: 30px;
	text-align: center;
	background-image: url(img/bg-footer.png);
	background-position-x: center;
	background-position-y: 10px;
	background-repeat: no-repeat;
	@media screen and (min-width: 992px){
		background-position-y: 50%;
		padding-top: 80px;
		padding-bottom: 30px;
		background-position-x: right;
	}
	ul{
		list-style: none;
		padding: 0;
		text-align: center; 
		li{
			display: inline-block;
			padding: 30px 15px 10px;
		}
		a{
			color: white;	
			&:hover{
				color: white;
				border-bottom: solid 2px white;
				text-decoration: none;
			}
		}
	}
	.logo-footer{
		max-width: 220px;
	}
	.arrow-move{
		position: relative;
		bottom: 0;
		margin-bottom: 20px;
	}
}