.data{
	&-contact{
		padding: 50px;
		padding-right: 8.333333%; 
		font-weight: bold;
		width: 100%;
	}
	&-text{
		font-weight: bold;
		padding: 90px 50px;
		font-size: 18px;
	}
}
.form-contact{
		padding: 70px 15px;
	@media only screen and (min-width: 992px){
		padding: 70px;
	}
}
.text-form{
	flex-wrap: wrap;
}
form{
	input,textarea{
		border: none;
		width: 100%;
		margin: 10px 0;
		padding: 20px;
		&:focus{
			outline: none;
		}
	}
}
.btn-form{
	position: relative;
	overflow: hidden;
	input{
		float: right;
		padding-right: 50px;
		width: auto;
		margin: 0;
	}
	&:before{
		content:"";
		display: block;
		background:$azul;
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 100%;
		z-index: 1;
		pointer-events: none;
	}
	&:after{
		content:"";
		transition: 0.3s;
		pointer-events: none;
		position: absolute;
		transform: translateY(-50%) rotate(-45deg);
		width: 15px;
		height: 15px;
		right: 15px;
		top: 50%;
		z-index: 2;
		display: block;
		border-right: solid 2px $amarillo;
		border-bottom: solid 2px $amarillo;
	}
}